.modal {
	width: 100%;
	max-width: 600px;
	padding: var(--spacing-medium);
	border: 1px solid white;
	border-radius: 10px;
	color: var(--text-color);
	background-color: var(--background-color);
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.modal-content {
	padding: var(--spacing-medium);
	border-radius: 10px;
	background-color: var(--background-color);
}
