@use '../../styles/main.scss' as *;

.page {
	margin-top: 0;
	// display: grid;
	// place-content: center;
	height: 100%;
}

.container {
	@extend .container;
	display: grid;
	gap: var(--spacing-large);
}

.controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
	}
}

.global-volume-slider {
	width: 150px;
}

.mute-button {
	@extend .button;
}

.play-pause-button {
	@extend .button;
}

.reset-button {
	@extend .button;

	background-color: red;
}

.sound-cards {
	display: grid;
	gap: 50px;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
