@use '../../styles/main.scss' as *;
@use 'sass:math';

.page {
	height: 100%;

	&::before {
		content: '123';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 20px;
		background-color: white;
		z-index: 2;
	}

	&::after {
		content: '';
		position: absolute;
		top: 20px;
		left: 0;
		width: 100vw;
		height: calc(100vw * (77.78 / 1440));
		z-index: 2;
		color: white;
		background-color: white;
		mask: url('/assets/icons/top-line.svg') no-repeat center center/cover;
	}
}

.section {
	padding-block: 200px;
	width: 100%;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100vw;
		height: calc(100vw * (116 / 1440));
		z-index: 2;
		color: white;
		background-color: white;
		mask: url('/assets/icons/bottom-line.svg') no-repeat center center/cover;
	}
}

.container {
	@extend .container;
	display: grid;
	gap: var(--spacing-large);
}

.canvas {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

.controls {
	display: grid;
	grid-template-areas:
		'play-pause-button play-pause-button play-pause-button'
		'mute-button range reset-button';
	grid-template-columns: 1fr 2fr 1fr;
	gap: 30px 10px;
	transition: opacity 0.2s ease;

	place-items: center;

	&:hover {
		opacity: 1;
	}
}

.mute-button {
	cursor: pointer;
	outline-offset: 5px;
	grid-area: mute-button;

	svg {
		width: 40px;
		height: 40px;
		fill: var(--accent-color);
		transition: fill 0.3s ease;
	}

	&:hover svg {
		scale: 1.1;
	}

	&:focus-visible {
		outline: 2px solid var(--accent-color);
	}

	&:active svg {
		transition-duration: 0.05s;
		scale: 0.9;
	}
}

.play-pause-button {
	border-color: transparent transparent transparent var(--accent-color);
	transition: 0.3s border-color ease;
	will-change: border-width;
	cursor: pointer;
	height: 74px;
	outline-offset: 10px;
	grid-area: play-pause-button;
	transition: scale, border-width;
	transition-duration: 0.2s;
	transition-timing-function: ease;

	&.pause {
		border-style: double;
		border-width: 0 0 0 60px;
	}

	&.play {
		border-style: solid;
		border-width: 37px 0 37px 60px;
	}

	&:hover {
		scale: 1.1;
	}

	&:focus-visible {
		outline: 2px solid var(--accent-color);
	}

	&:active {
		transition-duration: 0.05s;
		transform: scale(0.9);
	}
}

.reset-button {
	cursor: pointer;
	outline-offset: 5px;
	grid-area: reset-button;

	svg {
		width: 40px;
		height: 40px;
		fill: var(--accent-color);
		transition: all 0.2s ease;
	}

	&:hover svg {
		rotate: -45deg;
	}

	&:focus-visible {
		outline: 2px solid var(--accent-color);
	}

	&:active svg {
		transition-duration: 0.05s;
		rotate: 45deg;
	}
}

.sound-cards {
	display: grid;
	gap: 50px;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.range {
	--range-track-top: 0px;
	--range-track-height: 8px;
	--range-output-left: calc(var(--volume) * 1%);
	--range-output-offset-xy: calc(var(--volume) * -1%), 0;
	position: relative;
	z-index: 1;
	width: 100%;
	min-width: 150px;
	height: calc(var(--range-track-height) * 2);
	grid-area: range;
}

.range-label {
	display: block;
	margin-block-end: 45px;
	text-align: center;
	font-size: 18px;
	transition: 300ms;
}

.track {
	position: absolute;
	top: var(--range-track-top);
	width: 100%;
	height: var(--range-track-height);
	border-radius: 10px;
	background-color: #ababab;
	z-index: -1;
}

.thumbs {
	width: 100%;
}

.progress {
	position: absolute;
	top: var(--range-track-top);
	width: calc(var(--volume) * 1%);
	height: var(--range-track-height);
	border-radius: 10px;
	background-color: var(--accent-color);
	z-index: -1;
}

.range-input {
	width: 100%;
	position: absolute;
	top: var(--range-track-top);
	height: var(--range-track-height);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.range-input::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	background: white;
	box-shadow: 0 0 0 5px inset var(--accent-color);
	transition: 300ms;
}

.range-input::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	background: white;
	box-shadow: 0 0 0 5px inset var(--accent-color);
	transition: 300ms;
}

.range-input:focus-visible {
	outline-offset: 15px;
	outline: 1px solid var(--accent-color);
}

.range-input:hover::-webkit-slider-thumb,
.range-input:focus-visible::-webkit-slider-thumb {
	box-shadow: 0 0 0 8px inset var(--accent-color);
}

.range-input:hover::-moz-range-thumb,
.range-input:focus-visible::-moz-range-thumb {
	box-shadow: 0 0 0 8px inset var(--accent-color);
}

.range-input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 15px inset var(--accent-color);
}
.range-input:active::-moz-range-thumb {
	box-shadow: 0 0 0 15px inset var(--accent-color);
}

.range-input:disabled::-webkit-slider-thumb {
	box-shadow: 0 0 0 15px inset var(--disabled-bg);
}

.range-input:disabled::-moz-range-thumb {
	box-shadow: 0 0 0 15px inset var(--disabled-bg);
}

.range-input:focus-visible::-webkit-slider-thumb {
	outline: 2px solid white;
}

.range-input:focus-visible::-moz-range-thumb {
	outline: 2px solid white;
}

.range-output {
	position: absolute;
	bottom: 25px;
	left: var(--range-output-left);
	width: 25px;
	text-align: center;
	transform: translate(var(--range-output-offset-xy));
	user-select: none;
	transition: 300ms;
}

.line-block {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 300ms;

	// &::before {
	// 	content: '123';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100vw;
	// 	height: 20px;
	// 	background-color: white;
	// 	z-index: 2;
	// }

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 20px;
	// 	left: 0;
	// 	width: 100vw;
	// 	height: calc(100vw * (77.78 / 1440));
	// 	z-index: 2;
	// 	color: white;
	// 	background-color: white;
	// 	mask: url('/assets/icons/top-line.svg') no-repeat center center/cover;
	// }
}
