@font-face {
	font-family: Apertura;
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src:
		url('Apertura-Bold.woff2') format('woff2'),
		url('Apertura-Bold.woff') format('woff'),
		url('Apertura-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Apertura;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src:
		url('Apertura-Regular.woff2') format('woff2'),
		url('Apertura-Regular.woff') format('woff'),
		url('Apertura-Regular.ttf') format('truetype');
}
