.range {
	--range-track-top: 50px;
	--range-track-height: 8px;
	--range-output-left: calc(var(--volume) * 1%);
	--range-output-offset-xy: calc(var(--volume) * -1%), 0;

	position: relative;
	display: none;
	width: min(150px, 70%);
	opacity: 0;
	transition:
		opacity 0.7s,
		max-height 0.7s,
		padding-block 0.7s,
		transform 0.7s,
		overlay 0.7s allow-discrete,
		display 0.7s allow-discrete;

	@starting-style {
		display: none;
		opacity: 0;
	}
}

.card {
	z-index: 1;
	display: grid;
	grid-template-rows: auto 1fr;
	place-items: center;
	min-width: 200px;
	max-width: 250px;
	min-height: 200px;

	// backdrop-filter: blur(3px);
	border-radius: 10px;
	transition: all 0.2s ease;

	&.active {
		.range {
			display: block;
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}
}

.toggle-button {
	cursor: pointer;
	border: none;
	background: none;
	transition: all 0.2s ease;

	&:hover {
		scale: 1.1;
	}

	&:focus-visible {
		outline: 2px solid var(--accent-color);
	}

	&:active {
		scale: 0.9;
		transition-duration: 0.05s;
	}
}

.icon {
	align-self: center;
	width: 90px;
	height: 90px;
	opacity: clamp(0.15, calc(var(--volume) / 100), 1);
	fill: var(--accent-color);
	transition: all 0.2s ease;
}

.range-label {
	display: block;
	margin-block-end: 45px;
	font-size: 18px;
	text-align: center;
	transition: 300ms;
}

.track {
	position: absolute;
	z-index: -1;
	top: var(--range-track-top);
	width: 100%;
	height: var(--range-track-height);
	border-radius: 10px;
	background-color: #ababab;
}

.thumbs {
	width: 100%;
}

.progress {
	position: absolute;
	z-index: -1;
	top: var(--range-track-top);
	width: calc(var(--volume) * 1%);
	height: var(--range-track-height);
	border-radius: 10px;
	background-color: var(--accent-color);
}

.range-input {
	cursor: pointer;
	position: absolute;
	top: var(--range-track-top);
	width: 100%;
	height: var(--range-track-height);
	appearance: none;
	appearance: none;
	appearance: none;
}

.range-input::-webkit-slider-thumb {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	appearance: none;
	appearance: none;
	background: white;
	box-shadow: 0 0 0 5px inset var(--accent-color);
	transition: 300ms;
}

.range-input::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	background: white;
	box-shadow: 0 0 0 5px inset var(--accent-color);
	transition: 300ms;
}

.range-input:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 15px;
}

.range-input:hover::-webkit-slider-thumb,
.range-input:focus-visible::-webkit-slider-thumb {
	box-shadow: 0 0 0 8px inset var(--accent-color);
}

.range-input:hover::-moz-range-thumb,
.range-input:focus-visible::-moz-range-thumb {
	box-shadow: 0 0 0 8px inset var(--accent-color);
}

.range-input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 15px inset var(--accent-color);
}

.range-input:active::-moz-range-thumb {
	box-shadow: 0 0 0 15px inset var(--accent-color);
}

.range-input:disabled::-webkit-slider-thumb {
	box-shadow: 0 0 0 15px inset var(--disabled-bg);
}

.range-input:disabled::-moz-range-thumb {
	box-shadow: 0 0 0 15px inset var(--disabled-bg);
}

.range-input:focus-visible::-webkit-slider-thumb {
	outline: 2px solid white;
}

.range-input:focus-visible::-moz-range-thumb {
	outline: 2px solid white;
}

.range-output {
	user-select: none;
	position: absolute;
	bottom: 25px;
	left: var(--range-output-left);
	transform: translate(var(--range-output-offset-xy));
	width: 25px;
	text-align: center;
	transition: 300ms;
}
