.options {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-medium);
	padding-left: 0;
}

.option {
	display: grid;
	grid-template-columns: 0.3fr 3fr 1fr 0.5fr;
	gap: var(--spacing-medium);
	align-items: center;
	padding: var(--spacing-small);
	border: 1px solid transparent;
	border-bottom: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	transition: all 0.2s ease;

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		color: var(--background-color);
		background-color: var(--accent-color);
	}
}

.option-id {
	font-weight: bold;
}

.action-buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-medium);
}

.add-option-button,
.paste-list-button,
.clear-list-button,
.start-button {
	grid-column: 1 / -1;
}
